extends ../layout

block content
    h1.
        Infophoto #{blob._id}
    p Name: #{blob.name}
    p Badge: #{blob.badge}
    p DOB: #{blobdob}
    p Is Loved: #{blob.isloved}


      Infophoto #{subject_id}
    p First Name:
        #{blob.firstName}


         P Module Code:#{blob.moduleCode}
         P Module Name:#{blob.moduleName}
         P Department :#{blob.department}
         p Coordinator Name:#{blob.coordinator}
         p Credits:#{blob.credits}
         p Semester:#{blob.semester}
         p Day:#{blob.day}
         p Description:#{blob.description}
         p Pre Requested Subjects :#{blob.preRequestSubjects}
