extends ../layout

block content
    h1.
        Infophoto #{blob._id}
    p Name: #{blob.name}
    p Badge: #{blob.badge}
    p DOB: #{blobdob}
    p Is Loved: #{blob.isloved}


      Infophoto #{admin._id}
    p First Name:
        #{blob.firstName}
    p Last Name:
        #{blob.lastName}
    p Username:
        #{blob.userName}
    p Password:
        #{blob.password}
    p Email:
        #{blob.email}
    p Address:
        #{blob.adddress}
    p Contact Number:
        #{blob.contactNumber}
    p User Level:
        #{blob.userLevel}
